RewriteEngine off
RewriteRule ^(admin|user)($|/) - [L]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteRule ^blog/([0-9]+)/([0-9a-zA-Z_-]+)$ blog.php?id=$1&title=$2 [NC,L]